<div class="cards-container">
    <mat-card class="weather-card" *ngFor="let zip of zipcodes" (click)="showForecast(zip)">
        <ng-container *ngIf="getConditions(zip) as weatherData else loading">
            <mat-card-title>
                <div class="card-title">
                    <span class="mat-title">
                        {{weatherData?.name}} ({{zip}})
                    </span>
                    <span>
                        <button mat-icon-button class="close-button" (click)="removeZip(zip)" aria-label="Toggle menu">
                            <mat-icon>close</mat-icon>
                        </button>
                        <img [src]="imgUrl(weatherData)">
                    </span>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div>
                    <h4>Current conditions: {{weatherData?.weather[0].main}}</h4>
                    <mat-divider [inset]="true"></mat-divider>
                    <h4>Temperatures today:</h4>
                    <p>
                        Current {{weatherData?.main.temp | number:'.0-0'}}
                        - Max {{weatherData?.main.temp_max | number:'.0-0'}}
                        - Min {{weatherData?.main.temp_min | number:'.0-0'}}
                    </p>
                    <p>
                        <button mat-raised-button [routerLink]="['/forecast', zip]">Show 5-day forecast for
                            {{weatherData?.name}}</button>
                    </p>
                </div>
            </mat-card-content>

        </ng-container>
        <ng-template #loading>
            <mat-card-title>
                <div class="card-title">
                    <span class="mat-title">
                        loading...
                    </span>
                </div>
            </mat-card-title>
        </ng-template>
    </mat-card>
</div>