.zipcode-form {
  min-width: 150px;
  max-width: 500px;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > * {
    padding-right: 1rem;
  }
  .full-width {
    // width: 100%;
  }
}
